<%= render partial: "shared/navbar" %>

<div class="category"> 
        <% @budgets.each do |b| %>
        <div class="card">
                <h2> <%= b.name %> </h2>
                <p> <%= b.amount %> </p>
        <% b.categories.each do |c| %>
                <%= c.name %>
        <%end %>
        </div>
        <% end %>
        
        <div class="footer">
                <%= button_to "Add Budget", new_category_budget_path, method: :get, class: "btn btn--secondary" %>
        </div>
</div>